name: 'Build & Release custom ROM for RG3205W'

on:
  workflow_dispatch:
    inputs:
      stock-dump:
        description: 'Stock ROM dump version'
        required: true
        type: choice
        options:
          - 'ES_g1.0_RG3205W3.7.0_202209282206'

jobs:
  prepare:
    strategy:
      matrix:
        image-type:
          - system
          - vendor
          - boot
    runs-on: ubuntu-latest

    steps:
      - name: Check for cached images
        id: check-cached-images
        uses: actions/cache/restore@v4
        with:
          key: stock-image-${{ inputs.stock-dump }}-${{ matrix.image-type }}
          path: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/${{ matrix.image-type }}.bin
          fail-on-cache-miss: false
          lookup-only: true

      - name: Checkout
        if: steps.check-cached-images.outputs.cache-hit != 'true'
        uses: actions/checkout@v5
        with:
          lfs: false

      - name: Fetch LFS
        if: steps.check-cached-images.outputs.cache-hit != 'true'
        working-directory: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/
        run: |
          git lfs pull --include '${{ inputs.stock-dump }}.7z'

      - name: Unpack archive
        if: steps.check-cached-images.outputs.cache-hit != 'true'
        working-directory: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/
        run: |
          7z e -y '${{ inputs.stock-dump }}.7z' '${{ matrix.image-type }}.bin'
          sha256sum --check --ignore-missing SHA256SUMS.txt

      - name: Cache image
        if: steps.check-cached-images.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: stock-image-${{ inputs.stock-dump }}-${{ matrix.image-type }}
          path: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/${{ matrix.image-type }}.bin

  patch:
    needs:
      - prepare
    strategy:
      matrix:
        image-type:
          - system
          - vendor
          - boot
        include:
          - image-type: boot
            extra-vars: 'install_magisk=true'
            output-name: boot-magisked
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: false

      - name: Restore cached images
        uses: actions/cache/restore@v4
        with:
          key: stock-image-${{ inputs.stock-dump }}-${{ matrix.image-type }}
          path: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/${{ matrix.image-type }}.bin
          fail-on-cache-miss: true

      - name: Verify checksum
        working-directory: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/
        run: |
          sha256sum --check --ignore-missing SHA256SUMS.txt

      - name: Set up Ansible
        uses: alex-oleshkevich/setup-ansible@v1.0.1
        with:
          version: '12.2.0'

      - name: Run Ansible playbooks
        working-directory: RG3205W/custom-rom-build/
        run: |
          ansible-playbook .ansible/patch-${{ matrix.image-type }}.yaml -l localhost -c local --extra-vars 'image_path=${{ github.workspace }}/RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/${{ matrix.image-type }}.bin output_name=${{ matrix.output-name || matrix.image-type }}.bin ${{ matrix.extra-vars }}'

      - name: Calculate patched image checksum
        id: checksum
        working-directory: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/
        run: |
          echo "sha256sum-${{ matrix.output-name || matrix.image-type }}=$(sha256sum ${{ matrix.output-name || matrix.image-type }}.bin)" >> "$GITHUB_OUTPUT"

      - name: Upload patched images
        uses: actions/upload-artifact@v5
        with:
          name: patched-image-${{ inputs.stock-dump }}-${{ matrix.output-name || matrix.image-type }}
          path: RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}/${{ matrix.output-name || matrix.image-type }}.bin
          if-no-files-found: error
          compression-level: 6
          overwrite: true

      - name: List added APKs
        id: list-added-apks
        if: matrix.image-type == 'system'
        working-directory: RG3205W/custom-rom-build/.ansible/
        run: |
          {
            echo 'added-apks<<EOF'
            yq -r '.[] | select(.name == "Patch system image") | .vars.apks_to_add[] | "- [" + .description + "](" + .url + ")"' patch-system.yaml
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

      - name: Get ca-certificates version
        id: get-ca-certs-version
        if: matrix.image-type == 'system'
        run: |
          echo "version=$(apt show ca-certificates | grep Version: | awk -F ': ' '{print $2}')" >> "$GITHUB_OUTPUT"

    outputs:
      sha256sum-system: ${{ steps.checksum.outputs.sha256sum-system }}
      sha256sum-vendor: ${{ steps.checksum.outputs.sha256sum-vendor }}
      sha256sum-boot: ${{ steps.checksum.outputs.sha256sum-boot }}
      sha256sum-boot-magisked: ${{ steps.checksum.outputs.sha256sum-boot-magisked }}
      added-apks: ${{ steps.list-added-apks.outputs.added-apks }}
      ca-certs-version: ${{ steps.get-ca-certs-version.outputs.version }}

  release:
    needs:
      - prepare
      - patch
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          lfs: false

      - name: Make short commit SHA
        id: short-commit-sha
        env:
          COMMIT_SHA: ${{ steps.checkout.outputs.commit }}
        run: |
          echo "sha=${COMMIT_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Download patched images
        uses: actions/download-artifact@v5
        with:
          pattern: patched-image-${{ inputs.stock-dump }}-*
          path: .build/RG3205W-${{ inputs.stock-dump }}-custom-${{ steps.short-commit-sha.outputs.sha }}/
          merge-multiple: true

      - name: Verify patched images checksums
        id: verify-checksums
        working-directory: .build/RG3205W-${{ inputs.stock-dump }}-custom-${{ steps.short-commit-sha.outputs.sha }}/
        shell: bash
        run: |
          {
            echo '${{ needs.patch.outputs.sha256sum-boot }}'
            echo '${{ needs.patch.outputs.sha256sum-boot-magisked }}'
            echo '${{ needs.patch.outputs.sha256sum-system }}'
            echo '${{ needs.patch.outputs.sha256sum-vendor }}'
          } > ../SHA256SUMS.txt
          sha256sum --check ../SHA256SUMS.txt

          {
            echo 'sha256sums<<EOF'
            cat ../SHA256SUMS.txt
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

      - name: Pack images
        working-directory: .build/
        run: |
          zip -r -9 'RG3205W-${{ inputs.stock-dump }}-custom-${{ steps.short-commit-sha.outputs.sha }}.zip' 'RG3205W-${{ inputs.stock-dump }}-custom-${{ steps.short-commit-sha.outputs.sha }}/'

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: 'RG3205W custom ROM based on ${{ inputs.stock-dump }}'
          tag_name: 'RG3205W-custom-rom-${{ inputs.stock-dump }}-${{ steps.short-commit-sha.outputs.sha }}'
          files: |
            .build/RG3205W-${{ inputs.stock-dump }}-custom-${{ steps.short-commit-sha.outputs.sha }}.zip
            .build/SHA256SUMS.txt
          fail_on_unmatched_files: true
          make_latest: ${{ github.ref == 'refs/heads/main' }}
          body: |
            ## RG3205W Custom ROM

            Basada en el volcado de la ROM original [`${{ inputs.stock-dump }}`](https://github.com/zry98/movistar-home-hacks/tree/${{ steps.checkout.outputs.commit }}/RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}).

            Fue generada al commit [`${{ steps.short-commit-sha.outputs.sha }}`](https://github.com/zry98/movistar-home-hacks/tree/${{ steps.checkout.outputs.commit }}/RG3205W) por la ejecución de GitHub Actions workflow [`${{ github.run_id }}`](https://github.com/zry98/movistar-home-hacks/actions/runs/${{ github.run_id }}).

            ---

            Based on the stock ROM dump [`${{ inputs.stock-dump }}`](https://github.com/zry98/movistar-home-hacks/tree/${{ steps.checkout.outputs.commit }}/RG3205W/stock-rom-dumps/${{ inputs.stock-dump }}).

            Built at commit [`${{ steps.short-commit-sha.outputs.sha }}`](https://github.com/zry98/movistar-home-hacks/tree/${{ steps.checkout.outputs.commit }}/RG3205W) by GitHub Actions workflow run [`${{ github.run_id }}`](https://github.com/zry98/movistar-home-hacks/actions/runs/${{ github.run_id }}).

            ### Pre-installed APPs / APPs Pre-instaladas

            ${{ needs.patch.outputs.added-apks }}
            - Ubuntu `ca-certificates` ${{ needs.patch.outputs.ca-certs-version }}

            ### SHA-256 checksums
            ```
            ${{ steps.verify-checksums.outputs.sha256sums }}
            ```

            > [!IMPORTANT]
            > Remember to verify the SHA-256 checksums of the decompressed images!
            > 
            > ¡Recuerda verificar las sumas SHA-256 de las imágenes descomprimidas!
